button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
    background: linear-gradient(90deg, rgb(235, 79, 164) 10%, rgb(78 134 207) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
